<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510663741050-d2grmg4487aq5bfbevhanpn0f42doajt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510663741050-d2grmg4487aq5bfbevhanpn0f42doajt</string>
	<key>API_KEY</key>
	<string>AIzaSyAEdfjUCyPu2WBmScewrXETIrtFKx6zT7w</string>
	<key>GCM_SENDER_ID</key>
	<string>510663741050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanMatesApp</string>
	<key>PROJECT_ID</key>
	<string>cleanmates-ea347</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanmates-ea347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510663741050:ios:0be29e6274326c654f35c3</string>
	<key>DATABASE_URL</key>
	<string>https://cleanmates-ea347-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>